
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

LIVEAVATAR_API_KEY=
LIVEAVATAR_AVATAR_ID=26393b8e-e944-4367-98ef-e2bc75c4b792
LIVEAVATAR_VOICE_ID=864a26b8-bfba-4435-9cc5-1dd593de5ca7
LIVEAVATAR_SANDBOX=true

SARVAMAI_API_KEY=
SARVAM_SPEAKER=Simran
SARVAM_MODEL=bulbul:v3

HW_API_URL=https://api.hw.gscoresolutions.com
HW_SERVER_API_KEY=edura
