
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

LIVEAVATAR_API_KEY=
LIVEAVATAR_AVATAR_ID=26393b8e-e944-4367-98ef-e2bc75c4b792
LIVEAVATAR_VOICE_ID=864a26b8-bfba-4435-9cc5-1dd593de5ca7

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=

HW_API_URL=https://api.hw.gscoresolutions.com
HW_SERVER_API_KEY=edura
